[Unit]
Description=Slurm collector for AUDITOR
Documentation=https://alu-schumacher.github.io/AUDITOR/

[Install]
RequiredBy=multi-user.target

[Service]
Type=simple
User=auditor-kubernetes-collector
Group=auditor
WorkingDirectory=/etc/auditor
ExecStart=/usr/bin/auditor-kubernetes-collector /etc/auditor/auditor-kubernetes-collector.yml
Restart=on-failure
RestartSec=60
