[Unit]
Description=APEL plugin for AUDITOR
Documentation=https://alu-schumacher.github.io/AUDITOR/

[Install]
RequiredBy=multi-user.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/auditor_apel_plugin
ExecStart=/opt/auditor_apel_plugin/venv/bin/auditor-apel-publish --config /etc/auditor/auditor_apel_plugin.yml
Restart=on-failure
RestartSec=60
