[Unit]
Description=HTCondor collector for AUDITOR
Documentation=https://alu-schumacher.github.io/AUDITOR/

[Install]
RequiredBy=multi-user.target

[Service]
Type=simple
User=auditor-htcondor-collector
Group=auditor
WorkingDirectory=/opt/auditor_htcondor_collector
ExecStart=/opt/auditor_htcondor_collector/venv/bin/auditor-htcondor-collector --config /etc/auditor/auditor_htcondor_collector.yml
Restart=on-failure
RestartSec=60
