[build-system]
requires = ["setuptools==71.1.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = {""= "src"}
packages = ["auditor_htcondor_collector"]

[project]
name = "auditor-htcondor-collector"
description = "AUDITOR collector for aggregating data from the HTCondor batch system"
version = "0.6.2"
requires-python = ">=3.8"
dependencies = [
    "pyyaml==6.0.1",
    "python-auditor==0.6.2"
]
readme = "README.md"

[project.optional-dependencies]
build = [
      "build==1.2.1",
      "setuptools==71.1.0",
]

[project.scripts]
auditor-htcondor-collector = "auditor_htcondor_collector.main:main"

[project.urls]
documentation = "https://alu-schumacher.github.io/AUDITOR/#htcondor-collector"
