name: build-python-rpms

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string

jobs:
  build-apel-plugin-rpm:
    runs-on: ubuntu-latest
    container: almalinux:9
    defaults:
      run:
        working-directory: ./plugins/apel
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          dnf install -y epel-release dnf-plugins-core
          dnf config-manager --set-enabled crb
          dnf install -y python3-pip rpm-build python3-virtualenv
          dnf groupinstall -y "Development Tools"
          pip install --upgrade pip
          pip install toml-to-requirements rpmvenv
          
      - name: Build RPM
        run: |
          ABSOLUTE_PATH=$(realpath ../../pyauditor)
          ESCAPED_PATH=$(echo "$ABSOLUTE_PATH" | sed 's/[\/&]/\\&/g')
          toml-to-req --toml-file pyproject.toml
          sed -i "s/.*python-auditor.*/$ESCAPED_PATH/" requirements.txt
          echo -e "\n." >> requirements.txt
          cat requirements.txt
          QA_SKIP_BUILD_ROOT=1 rpmvenv --verbose rpm_config.json

      - name: Upload RPM
        uses: actions/upload-artifact@v6
        with:
          path: ./plugins/apel/*rpm
          name: apel-plugin-rpm

  build-htcondor-collector-rpm:
    runs-on: ubuntu-latest
    container: almalinux:9
    defaults:
      run:
        working-directory: ./collectors/htcondor
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          dnf install -y epel-release dnf-plugins-core
          dnf config-manager --set-enabled crb
          dnf install -y python3-pip rpm-build python3-virtualenv
          dnf groupinstall -y "Development Tools"
          pip install --upgrade pip
          pip install toml-to-requirements rpmvenv

      - name: Build RPM
        run: |
          ABSOLUTE_PATH=$(realpath ../../pyauditor)
          ESCAPED_PATH=$(echo "$ABSOLUTE_PATH" | sed 's/[\/&]/\\&/g')
          toml-to-req --toml-file pyproject.toml
          sed -i "s/.*python-auditor.*/$ESCAPED_PATH/" requirements.txt
          echo -e "\n." >> requirements.txt
          cat requirements.txt
          QA_SKIP_BUILD_ROOT=1 rpmvenv --verbose rpm_config.json

      - name: Upload RPM
        uses: actions/upload-artifact@v6
        with:
          path: ./collectors/htcondor/*rpm
          name: htcondor-collector-rpm
