name: python-linting

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
      - name: Run ruff lint check
        uses: astral-sh/ruff-action@v3
        with:
          version-file: "plugins/apel/pyproject.toml"
          args: 'check --extend-select I'
      - name: Run ruff format check
        uses: astral-sh/ruff-action@v3
        with:
          version-file: "plugins/apel/pyproject.toml"
          args: 'format --check'
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
      - name: Run black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
